.catalog__title {
  margin-bottom: 40px;

  &::after {
    width: 140px;
  }
}

.catalog__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.catalog__item {
  list-style: none;

  &:not(:last-child) {
    margin-right: 30px;
  }
}


