.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  list-style: none;
  width: 244px;
}

.feature__name {
  order: 2;

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $color-dark;

  margin: 0;
  margin-bottom: 10px;
}

.feature__desc {
  order: 3;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text-color-black;

  margin: 0;
}

.feature__icon {
  order: 1;
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid $color-green;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;

  margin-bottom: 18px;

  &--cuisin {
    background-image: url("../../img/features/food.svg");
  }

  &--drinks {
    background-image: url("../../img/features/drinks.svg");
  }

  &--comfort {
    background-image: url("../../img/features/comfort.svg");
  }

  &--help {
    background-image: url("../../img/features/help.svg");
  }
}
