.hashtegs__list {
  margin: 0;
  padding: 0;
}

.hashtegs__item {
  display: inline-block;
  list-style: none;

  border: 1px solid #00C6BD;

  &:not(:last-child) {
    margin-right: 13px;
  }
}

.hashtegs__link {
  display: block;
  padding: 10px 12px;

  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #283C54;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
