.page__body {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  color: $color-dark;
  background-color: $color-light;
  margin: 0;
}

.page__main {
  width: 1170px;
  margin: 0 auto;
}

.page__breadcrumbs {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 59px;
}

.page__header {
  margin-bottom: 12px;

  &--main {
    margin-bottom: 35px;
  }
}

.page__promo {
  margin-bottom: 120px;
}

.page__events {
  margin-bottom: 120px;
}

.page__catalog {
  margin-bottom: 120px;
}

.page__gallery {
  margin-bottom: 119px;
}

.page__services {
  margin-bottom: 120px;
}

.page__news {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.page__calendar {
  margin-bottom: 117px;
}

.page__form {
  margin-bottom: 105px;
}

.page__contacts {
  margin-bottom: 120px;
}

.page__article {
  margin-bottom: 80px;
}

