.promo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.promo__title {
  flex-grow: 1;
  position: relative;
  z-index: 2;

  font-style: italic;
  font-weight: 400;
  font-size: 42px;
  line-height: 60px;

  margin: 0;
  margin-left: 100px;
}

.promo__title-text {
  display: inline-block;
  margin-bottom: 17px;
}

.promo__title-text--light {
  color: $color-light;
}

.promo__slider {
  z-index: 1;
  margin-top: -85px;
}

.promo__navigation {
  position: relative;
}

.promo__navigation-list {
  position: absolute;
  left: -2px;
  top: 82px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  transform: rotate(90deg);
}

.promo__navigation-item {
  list-style: none;

  &:not(:last-child) {
    margin-right: 30px;
  }

}

.promo__navigation-link {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}


