.services {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 70px;
}

.services__info {
  width: 430px;
}

.services__title {
  margin-top: 7px;
  margin-bottom: 20px;
}

.services__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-dark;
}

.services__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 46px;
  grid-column-gap: 30px;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */

  width: 570px;
  margin: 0;
  padding: 0;
}

