.socials {
  display: flex;
  align-items: center;
}

.socials__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.socials__item {
  list-style: none;

  &:not(:last-child) {
    margin-right: 13px;
  }

  &--small:not(:last-child) {
    margin-right: 12px;
  }
}

.socials__link {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid $color-green;
  border-radius: 50%;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &--facebook {
    background-image: url("../../img/socials/facebook.svg");
  }

  &--twitter {
    background-image: url("../../img/socials/twitter.svg");
  }

  &--instagram {
    background-image: url("../../img/socials/instagram.svg");
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--small {
    height: 34px;
    width: 34px;
  }
}

.socials__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #283C54;

  margin-right: 15px;
}
